<div
  infinite-scroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="1000"
  (scrolled)="onScroll()"
>
<article class="c-beer-scroll-list section">
  <h1>Infinite List of Beers</h1>
  <p class="first-child">Scroll down and you will discover more beers.</p>
  <article *ngFor="let beer of beers; let i = index;" class="beer-scroll-list__wrap-scroll-list">

      <article>
        <div *ngIf="isLoadingImage" class="beer-scroll-list__beer-loading">
          <img src="assets/loading.gif" alt="Loading image.">
        </div>
        <img
          [src]="beer.image_url ? beer.image_url : '/assets/beer.svg'"
          alt="Bottle of beer {{ beer.name }}."
          class="beer-scroll-list__beer-image"
          [ngStyle]="{visibility:isLoadingImage?'hidden':''}"
          (load)="onHideImageLoader()"
          (error)="onHideImageLoader()"
        >
      </article>
  
      <article>
        <section
          id="beer-scroll-list-section"
          *ngIf="beer.name || beer.description || beer.tagline"
          aria-labelledby="beer-name"
        >
          <h2 id="beer-name" *ngIf="beer.name">{{ beer.name }}</h2>
          <p id="beer-description" *ngIf="beer.description">{{ beer.description }}</p>
          <blockquote *ngIf="beer.tagline">
            <p id="beer-tagline">{{ beer.tagline }}</p>
          </blockquote>
          <div>    <a
            [routerLink]="['/beer', beer.id]"
            aria-label="Go to the beer scroll-list of the beer"
            class="button__primary"
            id="button-beer-{{i}}"
          >Check scroll-list</a></div>
        </section>
  

  
      </article>
  
    </article>
  
    <section
      *ngIf="error"
      class="section"
      id="beer-scroll-list-error"
      aria-labelledby="beer-scroll-list-error-title"
    >
      <h2 id="beer-scroll-list-error-title">An Error Occurred!</h2>
      <p>{{ error.message }}</p>
    </section>
  
    <section
      id="beer-scroll-list-no-beers-available"
      *ngIf="beers === null && !isFetching"
      class="section"
      aria-labelledby="beer-scroll-list-no-beers-available-title"
    >
      <h2 id="beer-scroll-list-no-beers-available-title">No beers available!</h2>
    </section>
  
    <section
      *ngIf="isFetching && !error"
      class="beer-scroll-list__loading section"
      aria-label="loading"
    >
      <img src="assets/loading.gif" alt="Loading">
    </section>
  
  </article>
</div>