
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$punk-api-frontend-primary: mat-palette($mat-indigo);
$punk-api-frontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$punk-api-frontend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$punk-api-frontend-theme: mat-light-theme($punk-api-frontend-primary, $punk-api-frontend-accent, $punk-api-frontend-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($punk-api-frontend-theme);

@charset "UTF-8";

// 1. Generic
@import
  "styles/1-generic/normalize",
  "styles/1-generic/font-face";

// 2. Design Tokens
@import
  "styles/2-design-tokens/colors",
  "styles/2-design-tokens/fonts",
  "styles/2-design-tokens/media-queries",
  "styles/2-design-tokens/spacing",
  "styles/2-design-tokens/typography";

// 3. Elements
@import
  "styles/3-elements/blocks",
  "styles/3-elements/buttons",
  "styles/3-elements/forms",
  "styles/3-elements/headings",
  "styles/3-elements/images",
  "styles/3-elements/links",
  "styles/3-elements/lists",
  "styles/3-elements/tables";

// 4. Settings
@import
	"styles/4-settings/global";

// 5. Tools
@import
	"styles/5-tools/animations";
// mixins

// 6. Skeleton
@import
"styles/6-skeleton/layouts";

// 7. Components

// 8. Utilities
@import
  "styles/8-utilities/modifiers";

// Shame CSS
@import
  "styles/shame";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
